body {
  background: linear-gradient(
    to right,
    hsl(204deg 38% 20%),
    hsl(351deg 85% 20%)
  );
  color: #eee;
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
:root {
  --card-background: #313434;
}

header h1 {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.77);
}
.App {
  width: 100%;
  margin: auto;
  text-align: center;
  height: auto;
  accent-color: #eee;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

#test {
  width: min(100%, 750px);
  height: min(100%, 750px);
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

.imageHolder {
  flex: 1 0 auto;
  padding: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
}
.screenshot {
  background: var(--s-background);
  background-color: var(--s-color);
  width: min(600px, 100%);
  display: grid;
  align-items: center;
  justify-content: center;
  aspect-ratio: var(--s-aspect-ratio);
}

.screenshot .inset {
  transform: var(--s-scale);
  transition: transform, padding, box-shadow, background-color 0.3s;
  padding: var(--s-inset);
  border-radius: calc(var(--s-border-radius, 0) - (var(--s-border-radius) / 2));
  background-color: var(--s-inset-color);
  box-shadow: 0px 2px 8px 6px hsl(220deg 0% 0% / var(--s-shadow));
}

.screenshot img {
  width: 100%;
  margin: auto;
  display: block;
  border-radius: calc(var(--s-border-radius, 0) - (var(--s-border-radius) / 2));
}

.card {
  background-color: var(--card-background);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 1px 6px 20px 4px rgb(0 0 0 / 50%);
}

.card h2 {
  margin-top: -1rem;
}

.generated {
  margin-top: 1em;
  width: 100%;
}

.generated img {
  width: 100%;
}
